@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 
     font-family: 'Montserrat', sans-serif;
 }

header {
     background-color: transparent;
     height: 90px;
     width: 100%;
     padding: 0 30px;
 
     display: flex;
     justify-content: space-between;
     align-items: center;
 
     grid-area: h;
     top: 0;
     left: 0; 
     
 }
 
 header img {
     width: 150px;
     height: 110px;
 }
 
 header nav ul {
     display: flex;
     gap: 1px;
 }
 
 header nav ul li {
     padding-top: 10px;
     padding-right: 100px;
     list-style: none;
 }
 
 header nav ul li a { 
     text-decoration: none;
     color: rgb(4, 1, 17);
     text-transform: uppercase;
 }

 .text-center{
    padding-top: 3em;
    font-size: 1.5em;
    color: rgb(4, 1, 17);
 }

 .input{
    margin-left: 12em;
    width: 60em;
    border-radius: 1.5em;
    padding: 0.5em;
    margin-top: 1em;
 }

 #uni1{
    margin: auto;
    margin-top: 5em;
    height: 30em;
    width: 60%;
    box-shadow: 10px 5px 5px rgb(235, 235, 235);
    margin-bottom: 3em;
    background-color: aqua;
 }

 .bt{
    width: 22em;
    margin-top: 0.5em;
    margin-left: 0.5em;
    border-radius: 0.5em;
    border-style: none;
    color: white;
    background-color: rgb(4, 1, 17);
 }

 h5{
    padding-top: 1em;
    color: rgb(4, 1, 17);
 }
