body{

}

h1{
    text-align: center;
    padding-top: 100px;
}

h2{
    text-align: center;
}

#img{
    text-align: center;
}

header{
    background-color: rgb(68, 68, 214);
    height: 80px;
    color: white;
}

#imagem img{
    position: fixed;
    right: -100px;
    height: 100%;
    bottom: 0px;
}


